.PartyList{
    background-color: #ccc;
    height: calc(100vh - 80.78px - 74px - 60px);
    overflow-y: scroll;
    scrollbar-width: 0;
}

.PartyList::-webkit-scrollbar{
    width: 0;
}

.PartyList .items-container{
    display: block;
    width: 100%;
}

.PartyList .items-container .item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 14px;
}

.PartyList .items-container .item:hover{
    background-color: #f1f1f1;
}

.PartyList .items-container .item span:last-child{
    color: green;
}

.PartyList .items-container .item:last-child{
    margin-bottom: 46px;
}